@import "./base.css";

body {
  background-color: var(--background-color);
}
#app {
  max-width: 100%;
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}
